.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    color: $White;
    background: $DarkBlue;
    border: none;
    border-radius: 5px;
    @include boxShadow(2px, 3px);
    margin-bottom: 40px;
    transition: 0.2s all ease;
    text-decoration: none;
    font-size: 0.8rem;

    &:hover {
        filter: brightness(120%);
    }
}

.movie-detail-wrapper {
    display: flex;
    margin-bottom: 40px;

    .img-wrapper {
        margin-right: 40px;
    }

    .movie-details {
        .head-movie {
            .head-title {
                display: flex;
                margin-bottom: 5px;

                h4 {
                    margin-right: 90px;
                    font-size: 2rem;
                    max-width: 550px;

                    span {
                        font-size: 1.2rem;
                        color: gray;
                        text-transform: capitalize;
                    }
                }

                .imdb-ratings {
                    font-weight: 600;

                    p,
                    span {
                        color: $GrayText;
                    }

                    span {
                        font-weight: 300;
                    }
                }
            }

            .head-details {
                margin-bottom: 30px;
                max-width: 500px;

                p {
                    span {
                        margin-right: 9px;
                        color: gray;
                        font-size: 0.8rem;
                    }
                }
            }
        }

        .movie-attrs {
            display: flex;
            justify-content: space-between;
            font-weight: 600;

            .attr {
                margin-bottom: 15px;
                color: $GrayText;
            }

            .first-attrs {
                margin-right: 30px;
                width: 70%;

                span {
                    color: $GrayText;
                    font-weight: 300;
                }

                .plot {

                    h6 {
                        color: $GrayText;
                        font-size: 1rem;
                        margin-bottom: 5px;
                    }

                    p {
                        color: $GrayText;
                        font-weight: 300;
                    }
                }
            }

            .second-attrs {
                color: $GrayText;

                span {
                    font-weight: 300;
                }

                .movie-ratings {

                    .rating,
                    p {
                        color: $GrayText;
                        margin-bottom: 3px;
                    }

                    .rating {
                        font-size: 1rem;

                    }

                    p {
                        font-weight: 300;
                    }
                }
            }
        }
    }
}