.form-title {
    margin-bottom: 20px;

    .search-container {
        background: $DarkBlue;
        border-radius: 5px;
        @include boxShadow(2px, 3px);
        width: auto;
        padding: 0px 20px;
        display: flex;
        justify-content: center;

        @include for-desktop() {
            width: max-content;
            padding: 0px 20px;
        }

        .fa-search {
            margin-right: 20px;
            color: $White;
            display: flex;
            align-items: center;
        }

        #movie-title {
            width: calc(100% - 40px);
            height: 50px;
            border: none;
            font-weight: 600;
            color: $White;
            background: $DarkBlue;

            &:focus {
                outline: none;
            }

            @include for-desktop() {
                width: calc(400px);
            }
        }

        .remove-query {
            color: gray;
            transition: 0.1s all;
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
                color: $White;
            }
        }
    }
}