.data-found {
    color: $GrayText;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

@import './pagination';

.movie-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, auto));
    grid-auto-rows: auto;
    gap: 40px 25px;
    justify-content: space-around;
    margin-bottom: 70px;

    @import './movie';
}