.movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $DarkBlue;
    @include boxShadow(2px, 4px);
    border-radius: 5px;
    text-decoration: none;
    width: 70%;
    margin: 0 auto;

    @include for-very-small() {
        width: 100%;
    }

    .poster-container {
        width: 100%;
        min-height: auto;

        @include for-desktop() {
            height: 310px;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 5px 5px 0 0;

            @include for-desktop() {
                height: 100%;
            }
        }
    }

    .card-attributes {
        padding: 15px 15px;

        .attr-title {
            font-size: 1.2rem;
            margin-bottom: 15px;

            @include for-desktop() {
                font-size: 1rem;
            }
        }

        .attr-year {
            font-size: 0.8rem;
        }
    }
}