$VeryDarkBlue: hsl(207, 26%, 17%); // (Dark Mode Background)
$DarkBlue: hsl(209, 23%, 22%); // (Dark Mode Elements)
$White: hsl(0, 0%, 90%); // (Dark Mode Text & Light Mode Elements)
$GrayText: rgb(202, 202, 202);